/* Utilities or Common */
/* font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Poppins:wght@600&display=swap');

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Top container starts */
.top-container {
    width: 100% auto;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50;
    background-color: #161616;
    border-radius: 30px;
}

.top-text-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-text {
    color: #FFFFFF;
}

.top-banner-button {
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
}


/* Top container ends */

/* Blog section starts */
/* left Nav button starts  */
.nav-container {
    display: inline-block;
    width: 252px;
    height: 252px;
    padding: 30px;
    background-color: black;
}

.left-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    justify-content: space-around;


}



/* left nav button ends */
.blog-section {
    width: 100% auto;
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
}

.blog-section {
    display: flex;
}

.blog-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.blog-details {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}



.blog-card img {
    width: 100%;
}


.transfer {
    margin: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
}

.blog-info {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}

.blog-button {
    font-size: 16px;
    padding: 10px 20px;
}

footer {
    color: #FFFFFF;
    background-color: black;
    width: 100% auto;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;



}

.footer-manu {
    display: inline-block
}

.footer-manu-details {
    margin: 10px;
    padding: 10px;
}

.footer-h2 {
    font-size: 40px;
}

/* Media Queries */

@@media only screen and (max-width: 767px) {
    .top-container {
        display: flex;
    }
}